body{
  //resets the padding to 0 so that the style elements of html are reset.
  padding: 0;
  margin: 0;
  background-color: #080808;
}
h1{
  color: #fff;
  padding: 50px;

}

.newHeadings{
  font-family: sans-serif;
  padding: 20px;
}

.content{
    width: 600px;
    margin: auto;
    Padding: 30px;
}
}

h2{

color: #fff;
padding:50px;
font-size:16px;
text-align: "center";
 }


#lastHeading{
  font-family: sans-serif;
  color: #fff;
  padding: 30px;
  font-size: 16px;
  text-align: "center";

}
#planet1 {
  /*padding-left:1000;
  padding-right:1000;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1000px;*/
  padding-left:20%;
  padding-top:1px;
  padding-bottom:30px;
  display:block;
  float: left;
}

#planet2 {
  padding-left:20%;
  padding-top:1px;
  padding-bottom:30px;
  display:block;
  float: left;
}

#planet3 {
  padding-left:20%;
  padding-top:1px;
  padding-bottom: 30px;
  display:block;
  float: left;
}

#planet1title{
  font-family: sans-serif;
  color: #fff;
  padding-left: 22%;
  font-size: 16px;
  display:block;
  float: left;
}

#planet2title{
    font-family: sans-serif;
    color: #fff;
    padding-left: 24%;
    font-size: 16px;
    display: block;
    float: left;
  }

  #planet3title{
      font-family: sans-serif;
      color: #fff;
      padding-left: 23%;
      font-size: 16px;
      display: block;
      float: left;
    }

header{
  background-color: #262626;
  width: 100%;
  height: 80px;
}

footer{
  background-color: #262626;
  width: 100%;
  height: 300px;
}
